/* Variables */
:root {
  --bg-color: #fdf7c3;
  --text-color: #0f172a;
  --accent: #166534;
  --yellow: #fde047;
  --danger: #ef4444;
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}

/* Navbar */
/* Navbar */
.navbar {
  width: 100%;
}

.nav-container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 30px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 18px;
  font-weight: 600;
}

nav a {
  position: relative;
  margin-left: 28px;
  text-decoration: none;
  color: #1e3a8a;
  font-weight: 500;
  padding-bottom: 4px;
}

/* underline */
nav a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background-color: #166534;
  transition: width 0.3s ease;
}

nav a:hover::after {
  width: 100%;
}


/* User Section */
.user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px;
}

.user-text {
  max-width: 520px;
}

.user-text h2 {
  font-size: 18px;
  font-weight: 400;
}

.user-text h1 {
  font-size: 42px;
  margin: 5px 0;
}

.user-text h1 span {
  color: var(--accent);
}

.user-text h3 {
  font-weight: 500;
  margin-bottom: 16px;
}

.user-text p {
  font-size: 14px;
  line-height: 1.7;
  margin-bottom: 30px;
}

/* Buttons */
/* Buttons */
.buttons {
  display: flex;
  gap: 20px;
  margin-bottom: 25px;
}

.btn {
  display: inline-block;
  padding: 12px 28px;
  border-radius: 6px;
  font-weight: 500;
  text-decoration: none;
  font-size: 14px;
  transition: all 0.25s ease;
}

/* Download CV button */
.primary {
  background-color: #fde047;
  color: #000;
  border: 2px solid #fde047;
}

.primary:hover {
  background-color: #facc15;
}

/* Contact Me button */
.outline {
  background-color: transparent;
  color: #ef4444;
  border: 2px solid #ef4444;
}

.outline:hover {
  background-color: #ef4444;
  color: #fff;
}


/* Socials */
.socials {
  display: flex;
  gap: 20px;
}

.socials a {
  font-size: 24px;
  color: #1f2933;
  transition: color 0.2s, transform 0.2s;
}

.socials a:hover {
  color: var(--accent);
  transform: translateY(-3px);
}

/* Image */
.user-img img {
  width: 320px;
  height: 320px;
  object-fit: cover;
  border-radius: 50%;
  border: 6px solid rgba(0,0,0,0.15);
}

/* Responsive */
@media (max-width: 900px) {
  .navbar {
    padding: 24px;
  }

  nav {
    display: none;
  }

  .user {
    flex-direction: column-reverse;
    text-align: center;
    padding: 40px 24px;
  }

  .buttons {
    justify-content: center;
  }

  .socials {
    justify-content: center;
  }
}
